li {
  background-color: red;
 border: 1px solid red;
  font-weight: bold;
  display: inline-block;
  float: left;
  list-style-type: none;
   margin: 5px;

}

a {
  padding:10px;
  display: block;
  margin: 2px;
  text-decoration: none;
  font-family: arial;
  font-size: large;
  color: white;
}

li.current > a{
  background-color: white;
  color: red;
  font-weight:normal;
  
}



.main-menu {
  
  display:flex;
  justify-content:left;
  align-content: right;
    
}
