p {
    font-size: large;
    line-height: 150%;    
}

body {
    color:rgb(42,55,64);
    width: 90%;
    margin: auto;
    background-image: url(https://www.destructoid.com//ul/446857-Main-Day.jpg);
    background-size: cover;
    background-position: right bottom;
    background-repeat:  no-repeat;
    font-family: 'Open Sans', sans-serif;  
}

a:visited {
    color: magenta;
}

a:hover {
    color: cyan;
}
q {
    display: block;
    width: 50%;
    font-size: 160%;
    background-color: lightgrey;
    padding-left: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin: auto;  
    font-style: italic;
}

.villageois {
    border-left: 3px brown solid;
}

.fermier {
    border-left: 3px greenyellow solid;
}
.imgside{
    margin:0;
    width: 20%;
}

header::first-line{
    background-color: yellow;
}

.bien {
    font-variant: small-caps;
    color: green;
}

.mal {
    font-variant: small-caps;
    color: red;
}

.odd{
    background-color: grey;
}

.even{
    background-color: white;
}
h1,h2{
    font-family: 'Skranji', cursive;
}

li {
    background-repeat: no-repeat;
    background-position: 40% 50%;
    background-size: initial;
    padding-top: 15px;
    padding-bottom: 15px;
}
.thumbup {   
    background-image: url(https://raw.githubusercontent.com/becodeorg/lovelace-2/master/01-La-prairie/html-css/progressive-enhancement/bien.png);  
}

.thumbdown {
    background-image: url(https://raw.githubusercontent.com/becodeorg/lovelace-2/master/01-La-prairie/html-css/progressive-enhancement/mal.png);
}

.cat {
    background-image: url(https://raw.githubusercontent.com/becodeorg/lovelace-2/master/01-La-prairie/html-css/progressive-enhancement/chat.png);
}


.bold{
    font-weight: bold;
}

.right{
    float:right;
    margin-left:25px;
}
.left{
    float:left;
    margin-right: 25px;
}
h2 {
    display:inline-block;
    text-align: center;
}

hr{
    border:none;
}
